@page "/Schedule"
@using Server.Model.Schedule;
@using Server.Data;
@using ADM.Server.Helpers
 
@inject ToastService ToastService
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
@inject IWebHostEnvironment Env

<PageTitle>Schedule</PageTitle>
<div class="page-schedule">
    <Modal @ref="modal">
        <ModalDialog Size="Size.Small" Title="@modalTitle">
            <BodyTemplate>
                <div>@modalMessage</div>
            </BodyTemplate>
        </ModalDialog>
    </Modal>

    <div id="schedule_search_section">
        <Card>
            <HeaderTemplate>Search Schedule History</HeaderTemplate>
            <BodyTemplate>
                <Table
                    TItem="SearchTableRowItemView"
                    @ref = "tableRef"
                    IsPagination="true"
                    IsMultipleSelect="true"
                    PageItemsSource="new int[] {10,20}"
                    IsStriped="true"
                    IsBordered="true"
                    ShowToolbar="true"
                    ClickToSelect="true"
                    ShowAddButton="true"
                    ShowEditButton="true"
                    ShowDeleteButton="false"
                    ShowSearchButton="false"
                    ShowExtendButtons="false"
                    ShowResetButton="false"
                    ShowSearch="true"
                    ShowRefresh="false" 
                    AddModalTitle="Add New Schedule"
                    EditModalTitle="Update Existing Schedule"
                    SearchMode="SearchMode.Top" 
                    OnQueryAsync="@OnSearchModelQueryAsync" 
                    CustomerSearchModel="@CustomerSearchModel"
                    @bind-SelectedRows="SelectedRows"
                >
                    <TableColumns>
                        <TableColumn @bind-Field="@context.id" Width="90" Text="ID" Readonly=true IsVisibleWhenAdd="false" />
                        <TableColumn @bind-Field="@context.name" Width="90" Text="Subject" />
                        <TableColumn @bind-Field="@context.schedule_start" Width="90" Text="Power On Time" formatString="yyyy-MM-dd HH:mm:ss" IsReadonlyWhenEdit="true">
                            <EditTemplate Context="v">  
                                <div class="col-12 col-sm-6"> 
                                    <DateTimePicker ViewMode="DatePickerViewMode.DateTime"
                                                    TValue="DateTime?"
                                                    ShowLabel=true 
                                                    DisplayText="Power On Time"
                                                    Value="@v.schedule_start" />
                                </div> 
                            </EditTemplate>
                        </TableColumn>
                        <TableColumn @bind-Field="@context.schedule_end" Width="90" Text="Power off At" formatString="yyyy-MM-dd HH:mm:ss"  IsReadonlyWhenEdit="true">
                            <EditTemplate Context="v">
                                <div class="col-12 col-sm-6"> 
                                    <DateTimePicker ViewMode="DatePickerViewMode.DateTime"
                                                    TValue="DateTime?"
                                                    ShowLabel=true
                                                    DisplayText="Power Off Time"
                                                    Value="@v.schedule_end" />
                                </div>
                                <div class="col-12 col-sm-12" style="padding-left:1.0rem; color: red">The Input DateTime format is shown as (Month / Day / Year   Hour : Minutes : Seconds)</div>
                            </EditTemplate>
                        </TableColumn>
                        <TableColumn @bind-Field="@context.status" Width="90" Text="Status" IsVisibleWhenAdd="false" />
                    </TableColumns>

                    <TableToolbarBeforeTemplate>
                        <TableToolbarComponent>
                            <Button Text="Search" OnClick="OnSearch" class="btn-info btn-sm" Icon="fa-fw fa-solid fa-magnifying-glass"></Button>
                            <Button Text="Reset" OnClick="OnReset" class="btn-secondary btn-sm" Icon="fa-fw fa-solid fa-arrows-rotate"></Button>
                        </TableToolbarComponent>
                    </TableToolbarBeforeTemplate>

                    <CustomerSearchTemplate>
                        @if (context is ScheduleSearchView model)
                        {
                            <ADM.Server.Components.Modules.Schedule.ScheduleSearchModule @bind-Value="@model" />
                        }
                    </CustomerSearchTemplate>
                </Table>
            </BodyTemplate>
        </Card>
    </div>
</div>
